@media (min-width: 600px) {
    body {
        padding: 0;
    }
    
    .header-content {
        flex-direction: row;
    }

    .navigation {
        flex-direction: row;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .course-list {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}


@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .card3 {
        grid-column: 1 / -1;
    }
    .hero h1 {
        font-size: 32px;
        max-width: 32px;
        }

}