@media (min-width: 600px) {
    body {
        padding: 0;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
        padding: 20px;
    }
}