:root {
    --primary-color: #080101;
    --secondary-color: rgb(26, 26, 26);
    --accent1-color: #002352;
    --accent2-color: #d4d4d4ec;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #356098;
    --nav-link-color: #564138;
    --nav-hover-link-color: #2E86AB;
    --nav-hover-background-color: #f5f79823;
}

* {
    box-sizing: border-box;
}

h1, h2, p{
    font-family: var(--heading-font);
    color: var(--accent2-color);
} 


body {
    font-family: var(--paragraph-font);
    display: grid;
    max-width: 100%;
    min-width: 320px;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

header {
    display: grid;
    grid-row: 1 / 2;
    grid-template-rows: auto auto;
    align-items: center;
    background: #002352;
    color: #eee;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
}

header h1 {
    color: var(--accent2-color);
    margin-left: 2rem;
}

h1 {
    margin: 0;
    align-items: center;
    padding: 1.25rem;
    font-size: 24px;
    font-weight: bold;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-content img {
    max-width: 200px;
    margin-right: 25px;
    padding-left: 45px;
    padding-top: 2px;
}

nav {
	max-width: 700px;
	margin: 0.3rem auto;
}


#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--accent2-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--accent2-color);
}
.navigation a:hover {
    background-color: #555;
    color: #ffffff;
	font-weight: 700;
}


.open a {
	display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-row: 2 / 3;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.card {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #272727a1;
}

.card2 {
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(43, 42, 42, 0.521);
    margin: 1rem 0;
}

.os-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: block;
}

.os-card {
    background: #ffffff;
    border: 1px solid #cccccc73;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.os-card p {
    color: var(--primary-color);
}

.os-card h3 {
    color: var(--primary-color);
}

.os-features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    color: #2E86AB;
    text-decoration: none;
}

@keyframes slide-in {
    from {
        transform: translateY(calc(100vh - 100%));
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.os-features {
    animation-duration: 3s;
    animation-name: slide-in;
    animation-fill-mode: forwards;
}

footer {
    grid-row: 3 / 4;
    background: var(--accent1-color);
    padding: 1rem;
    text-align: center;
    color: #eee;
    font-size: 1rem;
}

footer p {
    color: var(--accent2-color);
}