@media (min-width: 600px) {
    body {
        padding: 0;
        max-width: 1200px;
    }
    
    .header-content {
        flex-direction: row;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #menu {
		display: none;
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
    
    .course-card {
        width: 90%;
        margin: 0.5rem auto;
        min-width: 200px;
        min-height: 300px;
    }
}